# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environments
.env
miniforge3/
*.egg-info/

# Large output / binary files
*.cif.gz
*.ckpt
*.pt

# OS
.DS_Store
Thumbs.db

# Editors
*.swp
*.swo
*~
